@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #252830;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-weight: 300;
  color: #fff;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  border-bottom: 2px solid #252830;
  padding-bottom: 5px;
}

#header {
  padding: 20px 5px;
}

#header h1 {
}

#globalTimePicker {
  padding-left: 20px;
}

#globalTimePicker select {
  width: 300px;
  background-color: #b59922;
  border-color: #b3ae5f;
  color: #fff;
  margin-bottom: 5px;
}

#globalTimePicker .react-datepicker-wrapper {
  margin-right: 10px;
}
#globalTimePicker .react-datepicker-wrapper input {
  width: 145px;
}

.bar {
  background: #009fb7;
}

.elementContainer {
  background: #fff;
  border: 1px solid #d1d1d1;
  padding: 20px;
  margin: 10px;
  boxShadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  border-radius: 3px;
}

.sentences .sentence {
  border-bottom: 1px #ccc dashed;
  padding: 20px;
  margin: 0px;
}
.sentences .info {
  font-size: 14px;
  padding-right: 5px;
  height:100%;
  width: 70px;
}
.sentences .info .date {
  font-size: 10px;
  color: #666;
}
.sentences .info .time {
  font-size: 14px;
}
.sentences .info .channel {
  text-align: center;
  border-radius:5px;
  background: #4f6367;
  font-weight: bold;
  color: #fff;
}
.frequencyBar .label {
  overflow: auto;
  white-space: nowrap;
}

.logo {
  float: left;
  height: 100px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 50px;
  color: #CC8D4D;
}
